body {
  font-family: 'Akkurat', 'sans-serif';
  color: white;
}
h1 {
  font-family: 'League Gothic';
  font-size: 84px;
}
h2 {
  font-family: 'League Gothic';
  font-size: 54px;
}
h3 {
  font-size: 24px;
}
ul li {
  font-size: 24px;
}

.slide {
  background: url('green.png') center no-repeat;
}
.slide:first-child {
  background: url('logo.png') 850px 40px no-repeat, url('splash.png') center no-repeat;
}
.slide:first-child h1 {
  text-align: left;
  padding-left: 50px;
  margin: 20px 0;
}

.slide:first-child h3 {
  text-align: left;
  padding-left: 50px;
  margin: 200px 0 0;
}

.slide .center img {
  height: 90%;
}

pre, pre.sh_sourceCode {
  font-size: 18px;
  margin: 20px;
  padding: 20px;
  font-family: 'Monaco';
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255,0.3);
}
