<!DOCTYPE html>
<html>
<head>
  <title>Oink</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="page">
    <%= yield %>
  </div>
</body>
</html>
